run = "cd backend && npm install && npm start"
modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd backend && npm install && npm start"]

[[ports]]
localPort = 5000
externalPort = 80
