run = "chmod +x start.sh && ./start.sh"
modules = ["nodejs-18:v3-20230608-f4cd419"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "./start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000
